*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* theme font family */
  --ff-abel: 'Abel', sans-serif;
  --ff-anton: 'Anton', sans-serif;
  --ff-jose: 'Josefin Sans', sans-serif;
  --ff-liv: 'Livvic', sans-serif;
  --ff-lex: 'Lexend Deca', sans-serif;

  /* theme color */
  --cl-primary: #fff;
  --cl-secondary: #686666da;
  --cl-gray: #3f4954;
  --cl-dark: #0f0f0f;
  --cl-midnight: #104f55;

  /* gradient color */
  --gcl-sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --gcl-btn: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);

  /* font size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media screen and (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: var(--cl-gray);
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, 
h2,
h3 {
  line-height: 1;
  letter-spacing: 0.1rem;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-lex);
}

h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-lex);
}

h3 {
  font-size: var(--fs-h3);
  font-family: var(--ff-abel);
}

.cb-flex {
  display: flex;
}

.cb-flex-column {
  flex-direction: column;
}

.cb-align-items-center {
  align-items: center;
}

.cb-justify-content-center {
  justify-content: center;
}

/* Button */

.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 3rem;
  background: var(--gcl-btn);
  border: none;
  color: var(--cl-primary);
  font-size: 18px;
  font-family: var(--ff-liv);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: transparent;
}

.btn::before, .btn::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--cl-primary);  
  transition-delay: 0.2s;
}

.btn span::before, .btn span::after{
  content:"";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--cl-primary);  

  transition-delay: 0s;
}

.btn:hover::before, .btn:hover::after{
  width: 100%;
}
.btn:hover span::before, .btn:hover span::after{
  height: 100%;
}

.btn::before{
  right: 0;
  top: 0;
}
.btn::after{
  left: 0;
  bottom: 0;
}
.btn span::before{
  left: 0;
  top: 0;
}
.btn span::after{
  right: 0;
  bottom: 0;
}
.btn:hover::before, .btn:hover::after{
  transition-delay: 0s;
}
.btn:hover span::before, .btn:hover span::after{
  transition-delay: 0.2s;
}

/* ----------------Navigation----------------- */

.nav {
  background: var(--cl-light);
  padding: 1rem 2rem;
  justify-content: space-between;
  width: 100%;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;

  transition: all 0.4s ease-in-out;
}

.nav .nav-brand {
  font-size: 1.8rem;
  font-family: var(--ff-lex);
}

/* Nav icons */
.nav-icons {
  position: absolute;
  display: none;
  top: 1.8rem;
  right: 2rem;
  cursor: pointer;
  z-index: 100;
}

.nav-icons .bars {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;

  transition: transform 0.3s cubic-bezier(0.694,  0.048, 0.335, 1.000);
}

.nav-icons .bars span {
  display: block;
  width: 100%;
  height: 2.5px;
  background: var(--cl-gray);
  margin-top: 4px;
}

.nav-icons .bars span:first-child {
  margin-top: 0;
  transform: scaleX(1);
  transition: transform 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  transition-delay: 0.4s;
}

.nav-icons .bars span:nth-child(3) {
  width: 65%;
  transition: width 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  transition-delay: 0.4s;
}

.nav-icons .bars .other-bar {
  width: 2.5px;
  height: 0;
  background: var(--cl-gray);
  position: absolute;
  top: -5px;
  left: 11px;
  transition: height 0.4s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  z-index: 10;
}

.nav-open .nav-icons .bars {
  transform: rotate(45deg);
  transition-delay: 0.4s;
}

.nav-open .nav-icons .bars span:first-child {
  transform: scaleX(0);
  transition: transform 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
}

.nav-open .nav-icons .bars span:nth-child(3) {
  width: 0;
  transition: width 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
}

.nav-open .nav-icons .other-bar {
  height: 25px;
  transition: height 0.2s cubic-bezier(0.694,  0.048, 0.335, 1.000);
  transition-delay: 0.3s;
}

/* Nav content */
.nav-content {
  min-width: 65%;
  justify-content: space-between;
}


/* Nav items */
.nav .nav-items .nav-link {
  position: relative;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-family: var(--ff-abel);
}

.nav .nav-items .nav-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--cl-gray);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}

.nav .nav-items .nav-link a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav .nav-social i {
  font-size: 1.2rem;
  color: var(--cl-gray);

  transition: transform 0.2s ease-in-out;
}

.nav .nav-social a {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8rem;
}

.nav .nav-social a:first-child {
  margin-left: 0;
}

.nav .nav-social a::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 50%;
  transition: all 400ms;
  background-color: transparent;
}

.nav .nav-social a:hover {
  animation: bounce 1s;
}

.nav .nav-social a:hover::before {
  background-color: var(--cl-gray);
}

.nav .nav-social a:hover > i {
  color: var(--cl-primary);
}

/* Animated Social Icons */
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

/* Viewport less than or equal to 800px */
@media screen and (max-width: 800px) {
  .nav,
  .nav-items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .nav.nav-open {
    height: 30rem;
  }

  .nav .nav-icons {
    display: block;
  }

  .nav .nav-content {
    flex-direction: column;
    width: 100%;
  }

  .nav-content .nav-social {
    opacity: 0;
    padding-top: 2rem;

    transition: all 0.4s ease-in-out;
  }

  .nav .nav-items .nav-link {
    opacity: 0;
    padding: 1rem 0;
    margin-right: 0;

    transition: all 0.4s ease-in-out;
  }

  .nav.nav-open .nav-items .nav-link,
  .nav-open .nav-content .nav-social {
    opacity: 1;
  }

}

/*----------------------------Main-------------------------*/

/* Hero Section */
.site-title {
  padding-top: 0;
}

.hero {
  color: var(--cl-primary);
}

.hero .swiper-slide {
  width: 100%;
  height: calc(100vh - 3rem);
  background-size: cover;
  background-position: center;
}

.hero .bg-1 {
  background-image: url('../assets/Background-image.png');
}

.hero .bg-2 {
  background-image: url('../assets/Background-image-4.png');
}

.hero .bg-3 {
  background-image: url('../assets/Background-image-5.jpg');
}

.hero .swiper-slide .slide-content {
  text-align: center;
  opacity: 0;
  transform: translateY(90px);
  transition: transform 1s ease;
}

.hero .swiper-slide.swiper-slide-active .slide-content {
  opacity: 1;
  transform: translateY(0);
}


.hero .swiper-slide .title {
  margin-top: 0.5rem;
}

.hero .swiper-slide .btn {
  margin-top: 1.8rem;
}

/* Blog Carousel */

.blog {
  height: 100vh;
  background-image: url('../assets/background-blog.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65%;
}

.blog .blog-carousel {
  padding: 0 2.5rem;
}

.blog .blog-carousel .blog-content {
  text-align: center;
  width: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2),
              0 10px 15px rgba(0, 0, 0, 0.1),
              0 15px 20px rgba(0, 0, 0, 0.05);
}

.blog .blog-carousel .blog-title {
  color: var(--cl-dark);
  padding: 2rem;
}

.blog .blog-carousel .blog-title .btn {
  color: var(--cl-dark);
  padding: 0.7rem 3rem;
  margin: 1.5rem 0;
}

.blog .blog-carousel .blog-title .btn::before,
.blog .blog-carousel .blog-title .btn::after {
  background: var(--gcl-btn);
}

.blog .blog-carousel .blog-title .btn span::before, 
.blog .blog-carousel .blog-title .btn span::after {
  background: var(--gcl-btn);
}

.blog-carousel .blog-title span {
  display: block;
  font-family: var(--ff-liv);
  font-weight: 300;
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: var(--cl-primary);
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23);

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  color: var(--cl-dark);
}

/* Card Image */
.blog-content .card {
  position: relative;
  background: var(--cl-secondary)
}

.blog-content .card::before,
.blog-content .card::after {
  content: '';
  position: absolute;
  inset: 1.25rem;
  opacity: 1;
  
  transition: transform 0.25s ease-out;
}

.blog-content .card::before {
  border-top: 1px solid var(--cl-primary);
  border-bottom: 1px solid var(--cl-primary);
  transform: scale(0, 1);
}

.blog-content .card::after {
  border-right: 1px solid var(--cl-primary);
  border-left: 1px solid var(--cl-primary);
  transform: scale(1, 0);
}

.blog-content .card:hover::before {
  transform: scale(1.05, 1);
}
.blog-content .card:hover::after {
  transform: scale(1, 1.05);
}

.blog-content .card .card-img {
  max-width: 100%;
  display: block;

  transition: opacity 0.25s ease-out;
}

.blog-content .card:hover .card-img {
  opacity: 0.4;
}

.blog-content .card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cl-primary);
  font-family: var(--ff-liv);
  font-size: 2rem;
  opacity: 0;

  transition: opacity 0.25s ease-out;
}

.card:hover .card-text {
  opacity: 1;
}